body{
	margin: auto;
	font-family: roboto, sans-serif;
	background-attachment: fixed;
	background-color: #b81515;
}

#topo{
	background: #fff;
	overflow: hidden;
	padding: 3px;
}






/* From Uiverse.io by alexruix */ 
.card {
	width: 190px;
	height: 254px;
	padding: .8em;
	background: #f5f5f5;
	position: relative;
	overflow: visible;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
   }
   
   .card-img {
	background-color: #ffcaa6;
	height: 40%;
	width: 100%;
	border-radius: .5rem;
	transition: .3s ease;
   }
   
   .card-info {
	padding-top: 10%;
   }
   
   svg {
	width: 20px;
	height: 20px;
   }
   
   .card-footer {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 10px;
	border-top: 1px solid #ddd;
   }
   
   /*Text*/
   .text-title {
	font-weight: 900;
	font-size: 1.2em;
	line-height: 1.5;
   }
   
   .text-body {
	font-size: .9em;
	padding-bottom: 10px;
   }
   
   /*Button*/
   .card-button {
	border: 1px solid #252525;
	display: flex;
	padding: .3em;
	cursor: pointer;
	border-radius: 50px;
	transition: .3s ease-in-out;
   }
   
   /*Hover*/
   .card-img:hover {
	transform: translateY(-25%);
	box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
   }
   
   .card-button:hover {
	border: 1px solid #ffcaa6;
	background-color: #ffcaa6;
   }
   




#body{
	display:inline-block
	height: 100vh;
    justify-content: center;
    align-items: center;
	display: inline-block;
}







#container3{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 40px;
	border: 4px solid black;



}

#img3{
    width: 80%;
    margin: 0px 15px;
    border-radius: 40px;
	border: 3px solid black;


}












#body{
	display:inline-block
	height: 100vh;
    justify-content: center;
    align-items: center;
}







#container4{
    display:flex;
	
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 40px;
	border: 4px solid black;



}





#img4{
    width: 80%;
    margin: 0px 15px;
    border-radius: 40px;
	border: 3px solid black;


}






.container{
	width: 80%;
	margin: 0;
}

.logo{
	float: left;
	width: 30%;
	text-align: right;


}

.menu{
	float: left;
	width: 70%;
	text-align: center;
}

.menu li{
	list-style: none;
	display: inline-block;
	padding: 30px 15px;
	text-transform: uppercase;

}

.menu li > a{
	color: #000;
	text-decoration: none;
	font-weight: bold;
	padding-bottom: 7px;
	font-size: 27px;

}

.menu li > a:hover{
	color: #A9A9A9;
	border-bottom: 5px solid #FF0000;



}

.img-banner2{
	background: url(img/banner8.jpg) no-repeat center center;
	background-size: cover;
    height:100vh;
	padding: auto;
	padding-inline: auto;
	background-position: center top;

	


}

.img-banner3{
	background: url(C:/Users/kpgomes/Desktop/JLF2/img/banner7.jpg) no-repeat center center;
	background-size: cover;
    height:auto;
	padding: auto;
	padding-inline: auto;
	


}


.img-banner4{
	background: url(img/banner3.jpg) no-repeat center center;
	background-size: cover;
    height:auto;
	padding: auto;
	padding-inline: auto;



}

#banner h4{
	margin: 0;
	text-align: center;
	color: #fff;
	text-shadow: 3px 3px 3px #000;
	padding-top: 100px;
	font-weight: normal;
	letter-spacing: 5px;
	font-size: 25px;

}

#banner h1{
	text-align: center;
	color: #FF0000;
	text-shadow: 3px 3px 3px #000;
	font-size: 48px;
}


h4#h42{

	padding: 5px;
	background-color: #FF0000;
	border-radius: 30px;
	color: #000;
	font-weight: bold;
	text-shadow: none;


}

h4#h43{

	font-weight: bold;
	padding: 12px;


}


h4#texto2{

	font-size: 60;
	text-align: center;
	margin-left: 55px;
	font-size: 42px;
	letter-spacing: 6px;
	font-weight: bold;
	padding: 5px;
}


h1#h12{

	padding-top: 55px;
	color: #000000;
	text-align: center;
	margin-left: 55px;
	margin-top: 15px;
}

h1#textobranco{

	color: #fff;
	padding-top: 2px;
}

h1#telefone{
	font-size: 30px;
	padding-top: 120px;
	text-align: center;
	font-weight: bold;
	text-shadow: 3px 3px 3px #000;
	color: #FF0000;
}

h2#nmr{
	font-size: 30px;
	text-align: center;
	font-weight: bold;
	text-shadow: 3px 3px 3px #000;
	color: #fff;


}


h1#email{
	font-size: 30px;
	padding-top: 85px;
	text-align: center;
	font-weight: bold;
	text-shadow: 3px 3px 3px #000;
	color: #FF0000;
}

h2#textoemail{
	font-size: 30px;
	text-align: center;
	font-weight: bold;
	text-shadow: 3px 3px 3px #000;
	color: #fff;
}


h1#endereco{
	font-size: 30px;
	padding-top: 85px;
	text-align: center;
	font-weight: bold;
	text-shadow: 3px 3px 3px #000;
	color: #FF0000;
}

h2#textoendereco{
	font-size: 30px;
	text-align: center;
	font-weight: bold;
	text-shadow: 3px 3px 3px #000;
	color: #fff;
}




footer img {

        width: 40px;
        height: 40px;
}

footer {
        display: flex;
        justify-content: center ;
		padding: auto;
		

}

footer a {
        margin: 20px;
        text-align: center;
        color: #000;
        text-decoration: none;
}

footer p {
        margin-top: 2px;
        text-decoration: none;

}

.section{
	padding: auto;
	
	
}


.botaozap{

	color: #fff;
	text-decoration: none;
	font-weight: bold;
	padding-bottom: 7px;
	font-size: 27px;
	border-radius: 35px;
	padding-bottom: 10px;
	text-align: center;

}


.botaozap:hover{

	color: #000;
	


}

div#botao{

	background-color: #FF0000;
	text-decoration: none;
	font-weight: bold;
	padding-bottom: 7px;
	font-size: 27px;
	border-radius: 35px;
	padding-bottom: 10px;
	border-radius: 35px;
	width: 250px;
}

div#botao:hover{

	color: #fff;
	
}

@media screen and (max-width: 768px){

	.container{
		width: 100%;
		height: 100%;
		flex-direction: column;
	}

	.topo{

		width: 100%;
		height: 100%;
	}

}


/*main#main1{

	background-color: transparent; box-shadow: #fff;
	width: 500px;
	padding: 20px;
	margin: auto;
	border: 4px solid black;
	border-radius: 15px;
	padding-top: 80px;
	text-align: center;

}

/*main#main1{

	background-color: transparent;
	width: 700px;
	padding: 20px;
	margin: auto;
	border: 6px solid black;
	border-radius: 15px;
	padding-top: 50px;
	text-align: center;

}

main#main2{

	background-color: transparent;
	width: 700px;
	padding: 20px;
	margin: auto;
	border: 6px solid black;
	border-radius: 15px;
	padding-top: 50px;
	text-align: center;


}*/


main{

	padding-top: 20px;
	
}

img#chuveiro{
	width: 450px;
	height: 450px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	border-radius: 15px;
	border: 4px solid black;
}

#t1{

	margin-left: 105px;


}

.gaveta{
	left:5px;
	display: flex;
	flex-direction: row;
	justify-content:space-around;
	align-items:center;
	text-align: center;
	
}

.objeto{

	width: 300px;
	height: 300px;
	text-align: center;
	
}

p#serv{

	width: 300px;
	height: 300px;
	color: #000;
	font-weight: bold ;
	font-size: 20px;
	color: #FF0000;
	text-align: center;
	margin-left: auto;
	margin-top: 15px;
}



.gaveta2{
	display: flex;
	flex-direction: row;
	justify-content:space-around;
	align-items: center;
	padding-top: 80px;
	text-align: center;
}

.objeto2{

	width: 300px;
	height: 300px;
	text-align: center;
	
}

p#serv{

	width: 300px;
	height: 300px;
	color: #000;
	font-weight: bold ;
	font-size: 20px;
	text-align: center;
	margin-left: 55px;
	margin-top: 15px;
}


.gaveta3{
	display: flex;
	flex-direction: row;
	justify-content:space-around;
	align-items: center;
	padding-top: 80px;
	text-align: center;
}

.objeto3{

	width: 300px;
	height: 300px;
	text-align: center;
	
	
}

p#serv{

	width: 300px;
	height: 300px;
	color: #000;
	font-weight: bold ;
	font-size: 20px;
	text-align: center;
	margin-left: 55px;
	margin-top: 15px;
}


.gaveta4{
	display: flex;
	flex-direction: row;
	justify-content:space-around;
	align-items: center;
	padding-top: 80px;
	text-align: center;
}

.objeto4{

	width: 300px;
	height: 300px;
	text-align: center;
	
	
}

p#serv{

	width: 300px;
	height: 300px;
	color: #000;
	font-weight: bold ;
	font-size: 20px;
	text-align: center;
	margin-left: 55px;
	margin-top: 15px;
}










* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}*/

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px; /* Aumentado o espaço vertical */
    max-width: 1200px;
    width: 100%;
    padding: 40px;
}

.card {
    display: flex;
    flex-basis: calc(50% - 20px);
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    overflow: hidden;
    margin-bottom: 30px; /* Aumentado o espaçamento entre os cards */
}

.card:hover {
    transform: scale(1.05);
}

.card-img-column {
    flex: 1;
}

.card-content-column {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.card-img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card-content-column h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.card-content-column p {
    font-size: 1em;
    color: #666;
}

@media (max-width: 768px) {
    .card {
        flex-basis: 100%;
    }
}
